/* globals.css 맨 아래쯤 */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: none !important;
}

/* (선택) 링크/이미지 드래그 방지 */
.swiper-slide a,
.swiper-slide img {
  -webkit-user-drag: none;
  user-drag: none;
}

/* .swiper {
  overflow-x: hidden !important;
  overflow-y: visible !important;
} */

/* 스토리 캔버스 반응형 처리 */
.story-canvas {
  /* 기본값: 데스크톱 */
  width: 495px !important;
  height: 743px !important;
  aspect-ratio: 9 / 16 !important;
}

/* 모바일 (550px 미만) */
@media (max-width: 549px) {
  .story-canvas {
    width: 300px !important;
    height: 450px !important;
    aspect-ratio: unset !important;
  }
}
