/* globals.css 맨 아래쯤 */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: none !important;
}

/* (선택) 링크/이미지 드래그 방지 */
.swiper-slide a,
.swiper-slide img {
  -webkit-user-drag: none;
  user-drag: none;
}

/* .swiper {
  overflow-x: hidden !important;
  overflow-y: visible !important;
} */
